<div class="border rounded px-2 py-3 my-2">
  <div class="row align-items-end">
    <div class="col">
      <h4>Posts</h4>
    </div>
    <div class="col text-end">
      <button class="btn btn-dark" (click)="onFetchPost()">Refresh</button>
    </div>
  </div>
  <hr>
  <div class="alert alert-primary" *ngIf="isLoading">
    Loading...
  </div>
  <div class="card my-2" *ngFor="let post of posts">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body">
      <p>{{post.content}}</p>
      <div>
        <button class="btn btn-sm btn-warning mx-1" (click)="onUpdate(post.id)">update</button>
        <button class="btn btn-sm btn-danger mx-1" (click)="onDelete(post.id)">Delete</button>
      </div>
    </div>
  </div>
</div>